<!--suppress HtmlUnknownAnchorTarget -->
<div class="container">
  <div id="header">
    <h3>Salon de discussion {{model.room}}</h3>
    <a href="#/chat-room-choice">Retour aux choix du salon</a>
  </div>

  <p ng-show="!model.connected">Connecting...</p>

  <p>{{model.content}}</p>

  <div class="row">
    <div class="col-xs-12 col-md-10">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id" events="marker.events">
          <ui-gmap-window
            coords='marker.coords'
            show="false"
            options="marker.info.options">
          </ui-gmap-window>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
    <div class="col-xs-12 col-md-2">
      <ul ng-repeat="user in users">
        <li ng-bind="user.username"></li>
      </ul>
      <ul ng-repeat="fakeMarker in fakeMarkers">
        <li ng-bind="fakeMarker.name"></li>
      </ul>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default chat-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Chat room</h3>
        </div>
        <div class="panel-body" id="messages">
          <div class="messages">
            <p ng-repeat="message in model.messages">
              <span class="time">[{{message.date | date:'dd/MM/yyyy HH:mm'}}] </span>
              <span class="author">{{message.author}}</span> :
              <span class="text">{{message.text}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span ng-show="model.name">
    <b>{{model.name}}</b> says:
  </span>

  <form role="form" class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-12">
        <input type="text" class="form-control" id="input" ng-keypress="keypress($event)" ng-disabled="!model.connected" ng-model="model.message" title="message"/>
      </div>
    </div>
  </form>
</div>
